* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
}

#displayArea,
#addArea {
  width: 30%;
}

.wrapper {
  display: flex;
  justify-content: space-around;
}

.scoreBoard {
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 5px;
}

li,
input {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.scoresList li:nth-child(even) {
  background-color: gray;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  margin: 20px 0;
}

.scoreItem {
  display: flex;
  justify-content: space-between;
}

.right {
  text-align: right;
}

button {
  padding: 5px;
}

#submit {
  display: flex;
  justify-content: right;
}
